<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyszukaj studenta według numeru telefonu</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h4>Wyszukaj studenta po numerze telefonu</h4>
<br>
<form method="POST" th:action="@{/students-page/phoneNumber}">
    <label>
        Numer Telefonu
        <br>
        <input id="phoneNumber-input" required type="number" name="phoneNumber"/>
    </label>
    <br><br>
    <button type="submit">Search</button>
</form>
<table>
    <br>
    <tbody>
    <tr th:each="student : ${studentPhoneData}">
        <td th:text="${student.index}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.phoneNumber}"></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/students-page}">Powrót na strone główną</a>
<footer th:insert="footer.html"></footer>
</body>
</html>